
/*UNIVERSAL STYLES*/
nav ul {
  list-style-type: none;
  margin-top: 110px;
  padding: 0;
 }

nav li {
	display: block;
    border: 2px #fdb166 solid;
    background-color: #fdf8be;
    color: black;
    margin: 0 auto;
}

nav li a {
  font-weight: bold;
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  padding: 3px;
}

.main-header {
	max-width: 100%;
/*
	top: 0;
	left: 0;
*/
	background-image: url("temporalTourLogo.jpg");
	background-color: #fdf8be;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 5em;
    text-align: center;
    margin:0 auto;
    text-shadow: 10px 10px 20px #fdf8be, -15px -10px 20px #fdf8be, -10px -20px 12px #fdf8be, -25px -10px 10px #fdf8be;
   }

.main-header h1 a{
  text-decoration:none;
 
}

.logo {
	display: inline;
}


/*BODY STYLES*/
body {
	background-color: #fdf8be;
}

/*index.html and trips.html styles*/
.sectionheading, .container, .description, .customtour, footer{
  text-align: center;
}


.container, .description, .tour img, button {
  width:100%;
  margin:0 auto;
  padding:5px;
}

#oregon.tour img, #pompeii.tour img, #firstflight.tour img, #triassic.tour img, #olympics.tour img, #moon.tour img, #caesar.tour img, #spartans.tour img {
  width:95%;
  margin:auto;
  text-align: center;
  margin-top:20px;
}

.tour {
  margin-top:20px;
  border: 1px solid black;
  padding-right: 12px;
}


.tour a {
  text-align: center;
  text-decoration: none;
}

.customtour{

background-color:purple;
color:#fdf8be;

}

footer h5{
 font-size:1.25em;

}

footer p{
  font-size:.5em;
}
/*Contact page Mobile*/
/*Info targets the Name, Email, Phone and Comments.*/
.info{
  margin-bottom: 5px
}
/*Comments box sizing to fit-ish for mobile*/
.commentBox{
  margin: 0px;
  width: 305px;
  height: 108px;
}
.contactButton{
    /*Mobile should be ok but feel free to change*/
}
/*Options for the culture choice, years and luxuries*/
.desires{
    text-align: center;
    font-weight: bold;
    border-bottom: solid;
}
/* MEDIA QUERIES */ 

@media (min-width: 900px) {
    
      body{
          background-color: #fdf8be;
      }
      
      nav li {
  	       display: inline;


      }
          
      header {
              
          width: 85%;

      }

      header h1 {
          	
          font-size: 3em;
         
      }

    
          
      header ul li {
          
          font-size: 1.3em;
      }


      .tour {
         width: 80%;
         margin: auto;
         border: none;
      }

      #tourimageSpartan,
      #tourimageCaesar,
      #tourimageMoon,
      #tourimageOlympics,
      #tourimageTriassic,
      #tourimageFlight,
      #tourimagePompeii,
      #tourimageOregon
       {
        width: 50%;
        float: left;
      }

      .container {
        width: 45%;
        float: right;
         }


.customtour {
  clear: both;
}


}

}

/*Non-Mobile Contacts Page*/
/*Submit info button*/
.contactButton{
  width:131px;
  
}



